@using TP01.Models
@{
    ViewData["Title"] = "Home Page";
    Grupo grupo = ViewBag.Grupo as Grupo;
}

<div>
    <img src="amooorch.png" alt="jjjj">
    <h1>Bienvenido a AMOOORCH</h1>
    <p>Lista de Integrantes del Grupo</p>

    @if (grupo != null && grupo.devolverIntegrantes() != null)
    {
        <ul >
        @foreach (var integrante in grupo.devolverIntegrantes().Values)
        {
            <li>
                <a href="@Url.Action("SelectIntegrante", "Home", new { dni = integrante.obtenerDni() })">@integrante.obtenerNombre()</a>
            </li>
        }
        </ul>
    }
    else
    {
        <p>No hay integrantes cargados</p>
    }
</div>
